<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>Y2KM3</title>
    <script type="text/javascript" src="./scripts/effectsHome.js"></script>
</head>

<body>
    <div class="navbar" id="navbar">

    </div>
    <div class="content" id="content">
        <div id="imageDiv" class="center-gif-container">
            <img id="earthGif" class="center-gif" src="./resource/gifs/earth.gif">
            <img id="cyberspace" class="center-gif" src="./resource/gifs/cyberspaceOfAlex.png"
                style="pointer-events: none;width: 200px; height: 200px;  position: absolute; left: 50%;top: 280px; transform: translate(-50%, -50%);">
            <img id="alexs" class="center-gif" src="./resource/gifs/alexs.png"
                style="pointer-events: none;width: 200px; height: 200px;  position: absolute; left: 52%;top: 110px; transform: translate(-50%, -50%);">
        </div>
        <div id="textDiv" style="text-align: center;">
            <h2> Welcome to my Space on the Web!</h2>
            <p>
                Hello there visitor! You might have noticed the unique aesthetic of this site. It's a nod to the Y2K
                aesthetic, a time when the Internet was
                a lot more fun and whimsical. I've always loved that era of design, and I wanted my corner of the web to
                reflect that.<br />
            </p>
            <p>
                On this website, you'll find more information about my professional journey in the world of software
                engineering and my projects. But there's more to me than just lines of code! I'm
                passionate about creating music, exploring the world on my bike, and experimenting with film and you can
                find more about that in the Hobbies section. </p>
            <p>
                But that's enough about me for now. Take a look around, and feel free to reach out if you'd like to
                chat, collaborate,
                or just want to say hello!
            </p>
            </p>
        </div>
    </div>
</body>

</html>