  .navbar {
      margin: 0;
      padding: 0;
      width: 200px;
      position: fixed;
      overflow: auto;
      z-index: 9999;
      display: flex;
      flex-direction: column;
  }

  .navbar ul {
      list-style-type: none;
  }

  .navbar li a {
      display: block;
      color: #181390;
      padding: 8px 16px;
      text-decoration: none;
      color: transparent;
      transition: color 0.3s ease;
  }

  .navbar img {
      height: 50px;
      /* Adjust height as necessary */
      width: auto;
      /* Keeps the aspect ratio of the gif */
  }

  .nav-text {
      margin-left: 10px;
      /* Add some space between the gif and the text */
  }

  .navbar li a.active {
      background-color: #4CAF50;
      color: white;
  }

  .navbar li a:hover:not(.active) {
      background-color: #555;
      color: white;
  }

  .nav li:last-child {
      margin-right: 0;
  }