<div class="navbar" id="navbar" >
    <ul>
        <li><a routerLink="/home">
                <img src="../../../assets/gifs/earth.gif" alt="earth gif">
                <span class="nav-text">Home</span>
            </a></li>
        <li><a routerLink="/about-me">
                <img src="../../../assets/gifs/moon.gif" alt="moon gif">
                <span class="nav-text">About me</span>
            </a></li>
        <li><a routerLink="/contact">
                <img src="../../../assets/gifs/jupiter.gif" alt="jupiter gif">
                <span class="nav-text">Contact</span>
            </a></li>
    </ul>
    <ul>
        <li><a routerLink="/blog">
                <img src="../../../assets/gifs/sun.gif" alt="sun gif">
                <span class="nav-text">Blog</span>
            </a></li>
    </ul>
</div>