    @font-face {
        font-family: GAU;
        src: url('../../../assets/fonts/GAU_pop_magic.TTF');
    }

  h2 {
      font-family: GAU;
      font-size: 2em;
  }

  p {
      font-family: Ubuntu;
      font-size: 1.5em;
  }

    body {
        background-repeat: repeat;
        background-color: #000000;
        color: #FFFFFF;
        font-family: Impact, Charcoal, sans-serif;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .center-gif-container {
        position: relative;
        width: 100%;
        height: 280px;
        }

    .center-gif {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        max-width: 100%;
        max-height: 100%;

    }

/* ...existing CSS... */

.cyberspace-gif,
.alexs-gif {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
}

.cyberspace-gif {
    left: 52%;
    top: 80%;
}

.alexs-gif {
    left: 52%;
    top: 38%;
}
    #container {
        cursor: none;
    }

    #textDiv {
        align-self: center;
        width: 40%;
        max-width: 700px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow:
            0 0 0 10px rgba(255, 255, 255, 0.3),
            0 0 0 20px rgba(255, 255, 255, 0.4),
            0 0 0 30px rgba(255, 255, 255, 0.5),
            0 0 0 40px rgba(255, 255, 255, 0.6);
        padding: 30px;
        color: #000;
    }

    #cursor {
        position: absolute;
        z-index: 10000;
        width: 40px;
        height: 40px;
        background: transparent url(../../../assets/gifs/pointer.gif) 0 0 no-repeat;
    }