<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>Y2KM3</title>
</head>

<body>
    <div class="content" id="content">
        <div id="imageDiv" class="center-gif-container">
            <img id="earthGif" class="center-gif" src="../../../assets/gifs/earth.gif" (mouseenter)="onEarthGifEnter()" (mouseleave)="onEarthGifLeave()">
            <img id="cyberspace" class="center-gif cyberspace-gif" src="../../../assets/gifs/cyberspaceOfAlex.png">
            <img id="alexs" class="center-gif alexs-gif" src="../../../assets/gifs/alexs.png">
        </div>
        <div id="textDiv" style="text-align: center;">
            <h2> Welcome to my Space on the Web!</h2>
            <p>
                Hello there visitor! You might have noticed the unique aesthetic of this site. It's a nod to the Y2K
                aesthetic, a time when the Internet was
                a lot more fun and whimsical. I've always loved that era of design, and I wanted my corner of the web to
                reflect that.<br />
            </p>
            <p>
                On this website, you'll find more information about mz professional life and my little hobbies ! :)
            </p>

            <p>
                But that's enough about me for now. Take a look around, and feel free to reach out if you'd like to
                chat, collaborate,
                or just want to say hello!
            </p>
        </div>
    </div>
</body>

</html>