<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>Y2KM3</title>
</head>

<body>
  
    <div class="content" id="content">
        <div class="gif-border">
        <div class="gif-wrapper">
        <div id="textDiv" >
            <img id="meImage" src="../../../assets/imgs/me.jpg">
                <p> <img src="../../../assets/gifs/wave.gif">
                    Hey there! My name is Aleksandar Tendjer, and I'm excited to share a bit about myself with you. Let’s
                    start this journey together, shall we?<img src="../../../assets/gifs/wave.gif">
                </p>
            <p>I am a Backend Node.js developer currently working at Endava in Slovenia. In my role, I'm knee-deep in developing a
            captivating E-commerce project. But that's not all; I've also worn the hat of a .NET support dev, contributing to
            internal SAS projects, where we harnessed the power of GPT to generate SWAT analyses and project proposals. Our project
            was even recognized as the most innovative project corporation-wide. It's been an incredible experience, and I'm
            constantly driven by my passion for coding and creating meaningful solutions.
                <br />
            </p>
                <ul class="inlineImageDiv">
                    <li>
                        <div class="imgWrapper">
                            <img class="inlineImages" src="../../../assets/imgs/endavaBerlin.jpg">
                            <div class="imgDescription">My team at Endava HQ in Berlin, November 2022.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgWrapper">
                            <img class="inlineImages" src="../../../assets/imgs/previewIjgd.jpg">
                            <div class="imgDescription">Ijgd Jugendkulturfabrik youth camp 2013. I'm the first on the right
                                side.</div>
                        </div>
                    </li>
                </ul>
            <br/>

            <p>
                Currently, besides my work I'm pursuing a Master's degree in Computer Science, imersing into the current tech ternds and problems.
                 My  masters thesis project is in the field of GeoSpatial dataprocessing. My idea is to use  Sentinel satellite data
                and harnessing the power of machine learning for creating better harvests in agriculture. The
                prospect of combining my passion for technology with environmental impact is incredibly exciting, and I can't wait to
                see how this project unfolds.
            </p>               
            <div class="work-section">
                <div class="work-description">
                    <p>
                        Beyond my academic pursuits and professional work, I'm an quite sporty. I love swimming, cycling, and running -
                        the perfect trifecta of physical activities that keep me motivated and energized ! As an avid cyclist, my ultimate dream
                        is to embark on a thrilling Euro cycling tour, weaving through picturesque landscapes, conquering challenging terrains,
                        and relishing the euphoria of adventure on two wheels.
                        </p>
                      
                </div>
                <div class="imgWrapper">
                <div class="work-image">
                    <img src="../../../assets/imgs/biko.jpg">
                    <div class="imgDescription">My companion on cycling routes. His name is Mr. Compy(short for Compact).</div>
                </div>
                </div>
            </div>
            <p>
                But hey, I'm not only about work and sports, I also have a few creative hobbies up my sleeve. I have a deep passion for filming and vintage camcorders, which you
                can explore on my <a href="https://www.youtube.com/channel/UCKjfIZ5dHwXFvDvOw4oOoiA">YouTube
                    channel</a>.
                It's still amateur but this is where I let my creative juices flow, capturing moments and telling
                stories with as less words as possible.
                And when, usually when the day winds down, I sometimes create music, specifically breakcore. When I was little I used to play video games on my Sony PS 1 and Sega Genesis and I remeber how I enjoyed listening to old Drum and bass when I played it.
                Creating breakcore makes me go back a bit, vibe in the moment and put my emotions into notes . (:
                                <br />
                <img src="../../../assets/gifs/handycam.gif">
            </p>
            <br />
            <img id="waveyRibbon" src="../../../assets/gifs/waveyRibbon.gif">

            <p>
                <br />


                So that's a snapshot of my story so far. Curious to know more or just want to chat? Reach out, and let’s
                keep the
                conversation rolling!
            </p>
            <p><a href="../../../assets/imgs/AleksandarTendjerCV.pdf" download>Download My CV</a></p>

        </div>
    </div>
    </div>
    </div>

</body>

</html>