<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>Y2KM3</title>
</head>

<body>
  
    <div class="content" id="content">
        <div class="gif-border">
        <div class="gif-wrapper">
        <div id="textDiv" >
            <img id="meImage" src="../../../assets/imgs/IMG_6629.jpg">
                <p class="intro-text"> <img src="../../../assets/gifs/wave.gif">
                    Hey there! My name is Aleksandar Tendjer, and I'm excited to share a bit about myself with you. Let’s
                    start this journey together, shall we?<img src="../../../assets/gifs/wave.gif">
                </p>
            <p>I am a Backend Node.js developer currently working @ Endava Slovenia. In my role, I'm knee-deep in developing a
            captivating E-commerce project. But that's not all; I've also worn the hat of a .NET support dev, contributing to
            internal SAS projects, where we harnessed the power of GPT to generate SWAT analyses and project proposals. Our project
            was even recognized as the most innovative project corporation-wide. It's been an incredible experience, and I'm
            constantly driven by my passion for coding and creating meaningful solutions. Currently, besides my work I'm pursuing a Master's degree in Computer Science, imersing into the current tech ternds and
            problems.

                <br />
            </p>
                <ul class="inlineImageDiv">
                    <li>
                        <div class="imgWrapper">
                            <img class="inlineImages" src="../../../assets/imgs/endavaBerlin.jpg">
                            <div class="imgDescription">My team at Endava HQ in Berlin, November 2022.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgWrapper">
                            <img class="inlineImages" src="../../../assets/imgs/previewIjgd.jpg">
                            <div class="imgDescription">Ijgd Jugendkulturfabrik youth camp 2013. I'm the first on the right
                                side.</div>
                        </div>
                    </li>
                </ul>              
            <div class="work-section">
                <div class="work-description">
                    <p>
                        But besides my professional goals I also do some sports. I like swimming and running. I used to run half-marathons( currently
                        2 of them) and even though I haven't done it recently I still try to jog often.
                        I'm also into cycling, specifically going on longer trips(30 km or more). One of my dreams is to go on a
                        Euro cycling tour, passing through picturesque landscapes, conquering
                        challenging terrains and camping in cycling camps without using phones and just enjoying the moment.
                    </p>
            
                </div>
                <div class="imgWrapper">
                    <div class="work-image">
                        <img src="../../../assets/imgs/biko.jpg">
                        <div class="imgDescription">My companion on cycling routes. His name is Mr. Compy(short for Compact).</div>
                    </div>
                </div>
            </div>
            <p>
                My hobbies spread into arts as well. I have a deep passion for filming and vintage camcorders, which you
                can explore on my <a href="https://www.youtube.com/channel/UCKjfIZ5dHwXFvDvOw4oOoiA">YouTube
                    channel</a>.
                It's still amateur but this is where I can share how I see the world around me. This is how I put words and feelings into video.
                And when, usually when the day winds down, I sometimes create music, specifically breakcore. When I was little I used to play video games on my Sony PS 1 and Sega Genesis and I remeber how I enjoyed listening to old Drum and bass when I played it.
                Creating breakcore makes me go back a bit, vibe in the moment and put my emotions into notes. (:
                                <br />
                <img src="../../../assets/gifs/handycam.gif">
            </p>
          
            <br />
            <img id="waveyRibbon" src="../../../assets/gifs/waveyRibbon.gif">

            <p>
                <br />


                So that's a snapshot of my story so far. Curious to know more or just want to chat? Reach out, and let’s
                keep the
                conversation rolling!
            </p>
            <p><a href="../../../assets/imgs/AleksandarTendjerCV.pdf" download>Download My CV</a></p>

        </div>
    </div>
    </div>
    </div>

</body>

</html>