<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>Y2KM3</title>
</head>

<body>
  
    <div class="content" id="content">
        <div class="gif-border">
        <div class="gif-wrapper">
        <div id="textDiv" >
            <img id="meImage" src="../../../assets/imgs/IMG_6629.jpg">
                <p class="intro-text"> <img src="../../../assets/gifs/wave.gif">
                    Hey there! My name is Aleksandar Tendjer, and I'm excited to share a bit about myself with you. Let’s
                    start this journey together, shall we?<img src="../../../assets/gifs/wave.gif">
                </p>
            <p>I'm a web developer, currently working @ Endava Slovenia. In my role, I've gained experience in  commercial projects spanning across different domains, such as Logistics(E-commerce) and E-mobility.
            Because I'm constantly driven to innovate and embrace new technologies, I've also contributed to an internal SAS projects, where we harnessed the power of GPT to generate SWAT analyses and project proposals.
            Currently, besides my work I'm pursuing a Master's degree in Computer Science.🐬
                <br />
            </p>
                <ul class="inlineImageDiv">
                    <li>
                        <div class="imgWrapper">
                            <img class="inlineImages" src="../../../assets/imgs/endavaBerlin.jpg">
                            <div class="imgDescription">My team at Endava HQ in Berlin, November 2022.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="imgWrapper">
                            <img class="inlineImages" src="../../../assets/imgs/previewIjgd.jpg">
                            <div class="imgDescription">Ijgd Jugendkulturfabrik youth camp 2013. I'm the first on the right
                                side.</div>
                        </div>
                    </li>
                </ul>              
            <div class="work-section">
                <div class="work-description">
                    <p>
                        But besides my professional goals I also do some sports. I like swimming and running 🐌. I used to run half-marathons(2 and counting) and even though I haven't done it recently I still try to jog often.
                        I'm also into cycling, specifically going on longer trips(30 km or more). One of my dreams is to go on a
                        Euro cycling tour, passing through picturesque landscapes, conquering
                        challenging terrains and camping with minimal use of technology. 🎑
                    </p>
            
                </div>
                <div class="imgWrapper">
                    <div class="work-image">
                        <img src="../../../assets/imgs/biko.jpg">
                        <div class="imgDescription">My companion on cycling routes. His name is Mr. Compy(short for Compact).</div>
                    </div>
                </div>
            </div>
            <p>
                My hobbies spread into arts as well. I have a deep passion for filming which you
                can explore on my <a href="https://www.youtube.com/channel/UCKjfIZ5dHwXFvDvOw4oOoiA">YouTube
                    channel</a>.
                The concept of portraining moments with images and letting viewers relate their own emotions to it is what drove me into this form of art.
                                <br />
                <img src="../../../assets/gifs/handycam.gif">
            </p>
            <p>
                And of course, when there is video, there is sound. (->-) However, in my case not mixed. I create music seperately from
                my films and rarely add them together.
                Currently I'm exploring the breakcore world. When I was little I used to play video games on my Sony PS 1 and Sega
                Genesis.
                This experience inspired me to create something that resembles those memories. If you wish to hear a sample of my work, click on the cd below 🐟 👇
            </p>
        <div class="audio-wrapper" (click)="toggleAudio()">
            <img src="../../../assets/gifs/cdMedClr.gif">
            <audio #audioPlayer>
                <source src="../../../assets/audio/Mænki2000 - 96 stuff.wav" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
        </div>
            <br />
            <img id="waveyRibbon" src="../../../assets/gifs/waveyRibbon.gif">

            <p>
                <br />
                So that's a snapshot of my story so far. Curious to know more or just want to chat? Reach out, and let’s
                keep the
                conversation rolling!
            </p>
            <p><a href="../../../assets/imgs/AleksandarTendjerCV.pdf" download>Download My CV</a></p>

        </div>
    </div>
    </div>
    </div>

</body>

</html>